.bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    color:#225ee0;
    align-self: center;
    text-align: center;

}
.text{
    align-self: center;
    text-align: center;
}
.btn{
    width:100px;
    
    color: #fff;
    background-color: #225ee0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #225ee0;
    align-self: center;
    

}
.number{
    align-self: center;
    
}
.card-container{
    background-color: #fffffe;
    width:500px;
    display: flex;
    flex-direction: column;
    align-self: center;
    

    
    
}